body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 0;
    margin: 0;
}
header{
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    margin:0;
    padding:0;
}
nav {
    margin:auto;
    /* come il nostro amato stackoverflow */
    max-width: 1300px; 
    height: 5em;
    padding: .2em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > img {
    max-height: 3em;
}
nav > ul {
    display: flex;
    list-style-type: none;
}
nav > ul > li{
    padding: 1em 1.5em 1em 0em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul > li > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    color: rgba(0,0,0,.5);
    transition: .5s all;
}
nav > ul > li:hover > a{
    color: rgba(0,0,0,.9);
}

main{
    margin:auto;
    max-width: 1200px; 
    padding: 2em 5em;
}

main > h1{
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom:.5em;
}

h1{
    font-size: 2.2em;
    font-weight: 500;
}
h2{
    font-size: 1.6em;
    font-weight: 400;
}
h3{
    font-size: 1em;
    font-weight: 300;
}
abbr {
    text-decoration: none;
}
form input,
form textarea {
    display: block;
    width: calc( 100% - 1.5em );
    padding: .375em .75em;
    font-size: 1em;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: menulist-button;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}

form input[type=checkbox]{
    width:auto;
}
form textarea{
    resize: vertical;
    font-family: Arial;
}

form input:focus,
form textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
form input.error,
form textarea.error{
    border: 1px solid #ff7373 !important;
}
form input.error:focus,
form textarea.error:focus{
    box-shadow: 0 0 0 0.2rem rgba(250, 0, 0, 0.25);
}

form label{
    display: block;
    padding: 2em 0 .2em 0;
}

button, .button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    margin: 2em 0 .2em 0;;
    width:100%;
    text-decoration: unset;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
button:hover, .button:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
    text-decoration: unset;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.button-green{
    color: #fff !important;
    background-color: #28a745;
    border-color: #28a745;
}
.button-green:hover{
    background-color: #218838;
    border-color: #218838;
}
.button-red{
    color: #fff !important;
    background-color: #dc3545;
    border-color: #dc3545;
}
.button-red:hover{
    background-color: #c82333;
    border-color: #bd2130;
}




p.error, .errors-list , .errors-list *{
    color:rgb(187, 23, 23);
    font-size: 1em;
}

.strong,
.main-list p strong{
    font-weight: 700;
}
.main-list{
    list-style-type: none;
}
.main-list h3{
    font-size: 1.3em;
}
.main-list * {
    color:rgb(61, 58, 58)
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    padding: 0; 
}

.w100{
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.w50{
    width:50%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.w49{
    width:49%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.w45{
    width:45%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.left{
    float:left;
}
.right{
    float:right;
}

.pagination{
    margin:auto;
    display: flex;
    max-width: 450px;
}
.pagination > *{
    flex:1 1 auto;
    margin:5px;
}

.pagination > button,
.pagination > .button{
    background-color: white !important;
    border-width: 2px !important;
    color:  #007bff !important;
    border-color:  #007bff;
}



















































.d-initial{
    display: initial;
}
.d-inline{
    display: inline;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}

.p0{
    padding:0;
}
.p1{
    padding:0.5em;
}
.p2{
    padding:1em;
}
.p3{
    padding:1.5em;
}


.pt-0{
    padding-top:0 !important;
}
.pt-1{
    padding-top:0.5em !important;
}
.pt-2{
    padding-top:1em !important;
}
.pt-3{
    padding-top:1.5em !important;
}


.pb-0{
    padding-bottom:0 !important;
}
.pb-1{
    padding-bottom:0.5em !important;
}
.pb-2{
    padding-bottom:1em !important;
}
.pb-3{
    padding-bottom:1.5em !important;
}


.pl-0{
    padding-left:0 !important;
}
.pl-1{
    padding-left:0.5em !important;
}
.pl-2{
    padding-left:1em !important;
}
.pl-3{
    padding-left:1.5em !important;
}


.pr-0{
    padding-right:0 !important;
}
.pr-1{
    padding-right:0.5em !important;
}
.pr-2{
    padding-right:1em !important;
}
.pr-3{
    padding-right:1.5em !important;
}












.m0{
    margin:0;
}
.m1{
    margin:0.5em;
}
.m2{
    margin:1em;
}
.m3{
    margin:1.5em;
}


.mt-0{
    margin-top:0 !important;
}
.mt-1{
    margin-top:0.5em !important;
}
.mt-2{
    margin-top:1em !important;
}
.mt-3{
    margin-top:1.5em !important;
}


.mb-0{
    margin-bottom:0 !important;
}
.mb-1{
    margin-bottom:0.5em !important;
}
.mb-2{
    margin-bottom:1em !important;
}
.mb-3{
    margin-bottom:1.5em !important;
}


.ml-0{
    margin-left:0 !important;
}
.ml-1{
    margin-left:0.5em !important;
}
.ml-2{
    margin-left:1em !important;
}
.ml-3{
    margin-left:1.5em !important;
}


.mr-0{
    margin-right:0 !important;
}
.mr-1{
    margin-right:0.5em !important;
}
.mr-2{
    margin-right:1em !important;
}
.mr-3{
    margin-right:1.5em !important;
}