html {
    font: 'Times New Roman', Times, serif;
    padding-top: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 12pt;
    cursor: none !important;
}

html, body {
    height: auto;
}

h1,
h2, h3 {
    color: black;
}

h1 {
    font-size: 2em;
    margin: 0.3em;
}

h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.2em;
    margin: 0.3em 0;
}

hr {
    display: none;
}

footer {
    display: none;
}

#titles > * {
    display: inline;
}

#titles > h1::after {
    content: ' -';
    vertical-align: middle;
}

#breadcrumbs {
    position: relative;
    padding: 0 1em;
    border: none;
}

#scroll-top {
    display: none;
}

#logo {
    display: none;
}

.menu {
    display: none;
}

#shortcuts {
    display: none;
}

main {
    padding: 0 1em;
    text-align: justify;
    border: 0;
}

#contacts a {
    text-decoration: none;
    color: black
}

.sf-form fieldset {
    border: none;
    padding: 1em;
    padding-top: 0;
}

.sf-form label {
    color: black;
}

.sf-form input, .sf-form textarea {
    display: inline-block;
    outline: none !important;
    border: none !important;
}

.sf-form input {
    width: 40%;
}

.sf-form input::placeholder, .sf-form textarea::placeholder {
    color: transparent;
}

.suggestion,
.error {
    color: black;
    font-style: italic;
    font-size: 9.5pt;
}

a {
    color: black;
}

#staff-fav > div {
    page-break-inside: avoid;
}

#staff-fav img{
    display: inline-block;
    width: 40%;
}

#hide-show-password {
    display: none;
}

.buttons-control {
    display: none;
}

.remove-product {
    display: none;
}

#products-list li {
    width: 20%;
    box-shadow: none !important;
    transform: scale(1) !important;
}

#pagination {
    border: none;
}

#pagination fieldset {
    border: none;
}

#pagination legend {
    display: none;
}

#pagination button {
    display: none;
}

#pagination .current {
    display: block;
    color: black;
    font-size: 10pt;
}

#pagination .current::before {
    content: 'Pagina: ';
    font-size: 10pt;
    color: black;
}

#searchbar {
    width: 50%;
    padding: 0;
    border: 0;
    outline: 0;
}

#searchbar::placeholder {
    color: transparent
}

#search-form button,  #search-form input[type=reset]{
    display: none;
}

#categories {
    display: inline;
    border: none;
    background-color: white;
    appearance: none;
    font-size: 10pt;
}

#categories::-ms-expand {
    display: none;
}

#filters {
    margin: 0;
    border: 0;
    padding: 0;
}

#filters legend {
    display: none;
}

#materials-wrapper {
    border: none;
    padding: 0;
}

#materials-wrapper > summary::-webkit-details-marker {
    display: none;
}

#materials-wrapper summary {
    display: inline;
    border: none;
    width: auto;
    outline: 0;
}

#materials-wrapper input[type=checkbox], #materials-wrapper input[type=checkbox]:not(:checked) + label {
    display: none;
}

#materials-wrapper p {
    display: inline-block;
    width: auto;
    padding: 0;
}

#materials-wrapper input[type=checkbox]:checked + label {
    font-size: 10pt;
    font-weight: 600;
    color: black;
}

#materials-wrapper input[type=checkbox]:checked + label::after {
    display: inline-block;
    content: '. ';
    margin-right: 0.3em;
}

#search-form .current {
    display: block;
}

#materials-wrapper {
    display: none;
}

#materials-wrapper[open] {
    display: block;
}

#extra-link {
    display: none;
}

#product-image {
    width: 40%;
}

#form-wrapper {
    display: none;
}
