.menu > summary{
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 0.4em 0 0.4em 0;
}

#logo{
    width: 20%;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

#shortcuts{
    margin: 0.1em 0 0.1em 0;
}

.menu li {
    float:none;
}

#products-list li{
    width: 100%;
}

.form-quotation fieldset{
    width: 80%;
}