header
{
    justify-content: space-evenly;
}

.desktop{
    display: none;
}

.buttons-control *
{
    width: 100%;
}

.buttons-control a
{
    position: relative;
}

.buttons-control button[type='submit']
{
    margin-bottom: 0.5em;
    float: none;
}

.menu > summary{
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 0.4em 0 0.4em 0;
}

.menu ul{
    flex-direction: column;
}

#logo{
    width: 20%;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

#shortcuts{
    margin: 0.1em 0 0.1em 0;
}

.menu li {
    float:none;
    width: 100%;
    text-align: center;
}

#products-list li{
    width: 100%;
}

.form-quotation fieldset{
    width: 80%;
}