/*
    Login and Signup
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.clickable {
    cursor: pointer;
}

.authentication-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(/images/auth-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.authentication-form {
    background: white;
    width: 40em;
    max-width: 1024px;
    position: relative;
    color: #333;
    border-radius: 10px;
}

.authentication-form ul {
    list-style-type: none;
}

.authentication-form fieldset {
    border: none;
    padding: 20px;
    padding-top: 0;
}

.authentication-form legend {
    margin-bottom: 0.5em;
}

.authentication-form h2 {
    background: #0288D1;
    padding: 30px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.authentication-form legend {
    font-size: 1.2em;
    font-weight: bold;
}

.authentication-form legend+label {
    margin-top: 0em;
}

.authentication-form label {
    display: inline-block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    color: #01579B;
    font-weight: bold;
}

.authentication-form input {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-top: 0.5em;
    border-bottom: 2px solid #ccc;
}

.authentication-form input:focus {
    border-bottom: 2px solid #0288D1;
}

.authentication-form #password {
    width: 95%;
}

.suggestion,
.error {
    font-size: 1em;
}

.error {
    color: #B71C1C;
}

.buttons-control {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buttons-control .button {
    color: white;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.3em;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0288D1;
    text-decoration: none;
}

.buttons-control .button:hover {
    background-color: #01579B;
}

/* ========== HEADINGS ========== */

h1,
h2 {
    color: #A70500
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}


/* ========== HEADER & MENU ========== */

html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#shortcuts>a {
    margin-left: 2em;
}

#titles {
    text-align: center;
}

#menu{
    width: 100%;
    background-color: #A70500
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#currentLink{
    color: black;
    display: block;
    text-align: center;
    padding: 16px;
}

#menu li a:hover {
    background-color: #111111;
}

#breadcrumbs{
    border-bottom: 2px solid #A70500;
    margin: 0.5em;
    padding: 0.2em;
    font-size: 1.1em;
    position: sticky;
    top:0;
    background-color: white;
}

/* ========== MAIN CONTENT ========== */
main{
    max-width: 1024px;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
    padding: 1em;
    overflow: auto;
}

#scroll-top{
    background-color: #A70500;
    color: white;
    font-size: 1.2em;
    float: right;
    padding: 0.5em;
    border-radius: 0.5em;
}

/* ========== CONTACTS ========== */
#contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contacts  p{
    font-size: 1.5em;
    border: 2px solid #A70500;
    border-radius: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
}

#contacts p:hover{
    background-color: #A70500;
    color: white;
}

/* ========== CATEGORIES PRODUCTS LIST =========== */
#products-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

#products-list li{
    float: left;
    text-align: center;
    border: 1px solid black;
    margin: 0.2em; 
    padding: 0.5em;
    border-radius: 1em;
    width: 30%;
}

#products-list li:hover{
    -webkit-box-shadow: 2px 2px 5px 2px #000000;
    box-shadow: 2px 2px 5px 2px #000000;
}

#products-list  img{
    width: 90%;
}

/* ========== FOOTER ========== */
footer{
    text-align: center;
    color: white;
    background-color: #333;
    padding: 1em;
    margin-top: 2em;
    font-size: 0.8em;
}

footer>p{
    padding: 0.2em;
}

@media only screen and (min-width: 640px){
    .mobile{
        display: none;
    }
}



/* ===== FILIPPO ===== */
/*


/*
    Login and Signup

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.clickable
{
    cursor: pointer;
}

.authentication-container
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(/images/auth-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.authentication-form {
    background: white;
    width: 40em;
    max-width: 1024px;
    position: relative;
    color: #333;
    border-radius: 10px;
}

.authentication-form ul {
    list-style-type: none;
}

form fieldset
{
    border: none;
    padding: 20px;
    padding-top: 0;
}

textarea {
    resize: vertical;
}

form legend
{
    margin-bottom: 0.5em;
}

form h2 {
    background: #0288D1;
    padding: 30px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

form legend
{
    font-size: 1.2em;
    font-weight: bold;
}

form legend + label
{
    margin-top: 0em;
}

form label {
    display: inline-block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    color: #01579B;
    font-weight: bold;
}

form input {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-top: 0.5em;
    border-bottom: 2px solid #ccc;
}

form input:focus
{
    border-bottom: 2px solid #0288D1;
}

form textarea
{
    width: 100%;
}

.authentication-form #password {
    width: 95%;
}

.suggestion, .error {
    font-size: 1em;
}

.error {
    color: #B71C1C;
}

.buttons-control {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buttons-control .button {
    color: white;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.3em;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0288D1;
    text-decoration: none;
}

.buttons-control .button:hover {
    background-color:#01579B;
}

#product-image {
    display: block;
    text-align: center;
    max-width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

#product-name {
    margin-bottom: 0.5em;
}

#product-description
{
    margin-bottom: 1.5em;
}

#product-details
{
    display: inline-block;
    width: 70%;
    list-style-type: none;
    float: left;

}

#product-materials
{
    padding-inline-start: 40px;
}

#product-details li
{
    margin-bottom: 0.3em;
}

.form-quotation
{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

#quantity
{
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    justify-self: end;
}

#list-quote-products
{
    width: 100%;
}

.quote-product
{
    height: 5em;
    border-bottom: black 1px solid;
    padding: 0.5em;
}

.quote-product img
{
    height: 5em;
    float: left;
    margin-right: 0.5em;
}

.quote-product .product-quantity
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    border-left: black 1px solid;
    text-align: center;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

main
{
    max-width: 1024px;
    margin: auto;
    padding-top: 5em;
}



*/