/*
    Login and Signup
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.clickable
{
    cursor: pointer;
}

.authentication-container
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(/images/auth-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.authentication-form {
    background: white;
    width: 40em;
    max-width: 1024px;
    position: relative;
    color: #333;
    border-radius: 10px;
}

.authentication-form ul {
    list-style-type: none;
}

.authentication-form fieldset
{
    border: none;
    padding: 20px;
    padding-top: 0;
}

.authentication-form legend
{
    margin-bottom: 0.5em;
}

.authentication-form h2 {
    background: #0288D1;
    padding: 30px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.authentication-form legend
{
    font-size: 1.2em;
    font-weight: bold;
}

.authentication-form legend + label
{
    margin-top: 0em;
}

.authentication-form label {
    display: inline-block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    color: #01579B;
    font-weight: bold;
}

.authentication-form input {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-top: 0.5em;
    border-bottom: 2px solid #ccc;
}

.authentication-form input:focus
{
    border-bottom: 2px solid #0288D1;
}

.authentication-form #password {
    width: 95%;
}

.suggestion, .error {
    font-size: 1em;
}

.error {
    color: #B71C1C;
}

.buttons-control {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buttons-control .button {
    color: white;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.3em;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0288D1;
    text-decoration: none;
}

.buttons-control .button:hover {
    background-color:#01579B;
}

/*
    Pagina dettaglio di un prodotto
*/

#product-image {
    display: block;
    /* float: left; */
    text-align: center;
    /* max-width: 20em; */
    max-width: 50%;
    margin: auto;
    margin-bottom: 1em;
    /* margin-right: 2em; */
}

#product-informations
{
    /* margin-left: calc(20em + 2em); */
}

#product-name {
    margin-bottom: 0.5em;
}

#product-description
{
    margin-bottom: 1.5em;
}

#product-details
{
    display: inline-block;
    width: 70%;
    list-style-type: none;
    float: left;

}

#product-materials
{
    padding-inline-start: 40px;
}

#product-details li
{
    margin-bottom: 0.3em;
}

.form-quotation
{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

#quantity
{
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    justify-self: end;
}

/* #details
{
    display: flex;
    margin-top: 0.5em;
    clear: both;
}

.pill-container
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.pill
{
    display: inline-block;
    min-width: 8em;
    padding: 0.5em 1.5em;
    margin: 0.25em 0.25em;
    text-align: center;
    text-decoration: none;
    width: auto;
    color: white;
    border-radius: 16px;
}

.pill-text
{
    font-weight: bold;
}

.pill#product-category
{
    background-color: red;
}

.pill#product-dimensions
{
    background-color: #01579B;
}

.pill#product-age
{
    background-color: #F57F17;
} */

/* Da cancellare */

#list-quote-products
{
    width: 100%;
}

.quote-product
{
    height: 5em;
    border-bottom: black 1px solid;
    padding: 0.5em;
}

.quote-product img
{
    height: 5em;
    float: left;
    margin-right: 0.5em;
}

.quote-product .product-quantity
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    border-left: black 1px solid;
    text-align: center;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

main
{
    max-width: 1024px;
    margin: auto;
    padding-top: 5em;
}
